<div class='container'>
  <div class='pending-homepage row'>
    <h2>Items Pending Your Approval</h2>
    <hr>
    <%= render partial: 'static/pending_approval', locals: { pending_approvals: @pending_approvals } %>
  </div>

  <div class='pending-homepage'>
    <div>
      <p>asdf</p>
    </div>
  </div>
</div>
